extends template

block content
	.mdl-js-snackbar.mdl-snackbar#toast
		.mdl-snackbar__text
		button.mdl-snackbar__action(type="button")
	
	dialog#dialog.mdl-dialog
		h3.mdl-dialog__title Upload a video
		.mdl-dialog__content
			input#siofu.hidden(type="file")
			br
			br
			div#pl.mdl-progress.mdl-js-progress.hidden
			div.uploadArea#uploadArea(data-target="siofu")
				a#uploadAreaLink(href="#") Upload file
				|  or drag and drop
		.mdl-dialog__actions
			button.mdl-button.close(type='button') Close

	.mdl-layout.mdl-js-layout
		.vs-head
			h1 Welcome to viddeo.space!
			| Free video hosting, without login and registration!
			br
			br
			button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.vs-head-btn Upload
			a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.vs-head-btn(href="/terms") Terms of Use
		.mdl-grid.container.vs-videos
			.mdl-cell.mdl-cell--2-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
			.content.mdl-cell--8-col
				h3 Why?
				.mdl-grid
					.mdl-cell.mdl-cell--4-col.column
						i.material-icons.big explicit
						h4.column-title No moderation
						p We don't moderate your videos. You are free to post any video of any kind.
					.mdl-cell.mdl-cell--4-col.column
						i.material-icons.big visibility_off
						h4.column-title Private
						p Only people who have the link can see your videos.
						p Your videos are encrypted, and there is no way for us to decrypt them or see them.
					.mdl-cell.mdl-cell--4-col.column
						i.material-icons.big access_time
						h4.column-title Auto-Delete
						p We remove your videos automatically when the service is restarted or after 24 hours of it's upload.
				h3 How?
				| First, the server receives your file via a WebSocket server, and saves it (temporarily) into our disk.
				| The server, after that, converts the file to the WebM file format, with HQ options (that's why it's taking time to convert it).
				| Then the server encrypts the files using the algorithm "aes-256-cbc", after this it removes your original-uploaded files. The server puts the initialization vector and a key into the memory under the UUID.
				p When serving the file to someone (for example - you), server decrypts it using the same algorithm (duh) and serves the buffer/video data for the client.
				h3 Donate
				b Donate using Stellar
				.mdl-grid
					.mdl-cell.mdl-cell--10-col
						code "federated" address: wicopee*keybase.io
						br
						br
						code public address: GBYGQ7KD23B6KSNI4SHURLPHSKZMQLQEW65W3UVVBQ46KLH5RKICZYXS
					.mdl-cell.mdl-cell--2-col
						img(src="stellar.gif", width="128", height="128")
				
