extends template

block content
	div.centered
		video.video(src=`/raw/${i1}`, loop, autoplay)
		br
		br
		| Expiring in #{i3}.

block head
	meta(property="og:type", content="video")
	meta(property="og:url", content=`https://viddeo.space/show/${i1}`)
	meta(property="og:image", content="http://www.fmwconcepts.com/misc_tests/gradient_tests/gradient-6.7.8-bicubic-arc.png")
	meta(itemprop="image", content="http://www.fmwconcepts.com/misc_tests/gradient_tests/gradient-6.7.8-bicubic-arc.png")
	
	meta(property="og:video", content=`https://viddeo.space/raw/${i1}`)
	meta(property="og:video:type", content="video.movie")
	meta(property="og:video:width", content="400")
	meta(property="og:video:height", content="300")

	meta(name="twitter:card", content="player")
	meta(name="twitter:site", content="@viddeospace")
	meta(name="twitter:player:width", content="400")
	meta(name="twitter:player:height", content="300")
	meta(name="twitter:player", content=`https://viddeo.space/show/${i1}`)
	meta(name="twitter:player:stream", content=`https://viddeo.space/raw/${i1}`)
	meta(name="twitter:player:stream:content_type", content="video/webm")
